
  <router-outlet></router-outlet>
  
  <!-- <kendo-grid
  [kendoGridBinding]="Users"
  [pageSize]="20"
  [pageable]="true"
  [sortable]="true"
  [groupable]="true"
  [reorderable]="true"
  [resizable]="true"
  [height]="480"
  [columnMenu]="{ filter: true }"
>
  <ng-template kendoGridToolbarTemplate>
      <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)"/>
      <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">Export to Excel</button>
      <button kendoGridPDFCommand icon="file-pdf" style="float:right;">Export to PDF</button>
  </ng-template>
 

      <kendo-grid-column field="name" title="Contact Name" [width]="220">
       
      </kendo-grid-column>

      <kendo-grid-column
          field="id"
          title="ID"
          [width]="100"
          [class]="{'text-center': true}"
          [resizable]="false"
      >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.id}}

          </ng-template>
      </kendo-grid-column>

</kendo-grid> -->